<p>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
halamankedua works!
<br>
Judul = {{paramjudul}}
<br>
Isi = {{paramisi}}
<br>
Tanggal = {{paramtanggal}}
<br>
Favorit = {{paramfavorit}}
<i class="fas fa-heart"></i>

<button (click)="MakeFavourite()">Buat Favorit?</button>

<i class="fas fa-thumbs-down"></i>
<button (click)="MakeUnFavourite()">Buat Tidak Favorit?</button>
</p>